  body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #b26b4b;
            color: #dbf4f2;
            margin: 0;
            padding: 0;
        }

        header {
            text-align: center;
            background-color: #8b0000;
            color: white;
            padding: 20px;
        }

        section {
            max-width: 900px;
            margin: 20px auto;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
        }

        h1, h2 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        .story-box {
            border: 5px solid #ff9000;
            border-radius: 15px;
            padding: 15px;
            width: fit-content;
            max-width: 6000px;
            background-color: #d46e00;
        }

        a {
            display: block;
            text-align: center;
        }
